body {
    background-color: #000000;
}

h2 {
    text-align: center;
    color: #02b0f0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.Navbar .Navbar_Image {
    display: flex;
    padding-left: 75px;
    align-items: center;
}

.Navbar li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 18px;
    padding: 25px;
}

.Navbar .NavBar_Links {
    padding-right: 75px;
}

.Navbar li a {
    color: #02b0f0;
    transition: all 0.3 ease 0s;
    text-decoration: none;
}

.Navbar li a:hover {
    color: #12a89d;
}
